#matunity-api ignores

matunity-api/app/configs/config.yaml
matunity-api/phinx.yml
matunity-api/cron/lib
matunity-api/vendor
matunity-api/node_modules

#matunity ignores

# compiled output
matunity/dist
matunity/tmp
matunity/out-tsc

# dependencies
matunity/node_modules

# IDE - VSCode
matunity/.vscode
matunity/.history/*

# misc
matunity/.sass-cache
matunity/connect.lock
matunity/coverage
matunity/libpeerconnection.log
matunity/npm-debug.log
matunity/yarn-error.log
matunity/testem.log
matunity/typings

# System Files
matunity/.DS_Store
matunity/Thumbs.db
